header a#logout {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    min-height: 40rem;
    padding: 3rem;
}

main div:first-child {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
main div:first-child h2 {
    display: flex;
    gap: 2rem;
}
main div:first-child h2 span {
    font-size: inherit;
}
main div:first-child h2 img {
    width: 2rem;

    cursor: pointer;
}
main div:first-child #pageActions {
    display: flex;
    gap: 3rem;
}
main div:first-child #pageActions img {
    width: 3rem;

    cursor: pointer;
}
main div:first-child #pageActions img#deleteTasks {
    display: none;
}
main div:first-child #pageActions img#deleteTasks.show {
    display: inline-block;
}

main #help {
    display: none;
    
    line-height: 2.5rem;
}
main #help.show {
    margin: 3rem auto;
    border-radius: .8rem;
    width: 60rem;
    max-width: 100%;
    padding: 2rem;

    background-color: lightgray;

    display: flex;

    flex-direction: column;
    align-items: center;
}
main #help img {
    width: 1.6rem;
}
main #help ul {
    list-style-position: inside;

    flex-direction: column;
    gap: .8rem;

    display: flex;
}

main table {
    margin-block: 2rem;
    width: 100%;
    border-collapse: collapse;

    background-color: #E6E6E6;
}
main table th,
main table td {
    border: thin solid black;
    padding: .8rem;
}
main table img {
    width: 2rem;

    cursor: pointer;
}
main table .finished div {
    display: flex;
    justify-content: center;
}
main table .finished input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
}
main table .actions div {
    display: flex;
    justify-content: space-between;
}