<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs", { title: "Home" }) %>
</head>
<body>
    <%- include("../partials/header.ejs", { name }) %>

    <main>
        
    </main>
    
    <%- include("../partials/footer.ejs") %>
</body>
</html>