<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs", { title: "Home" }) %>

    <link rel="stylesheet" href="home.css">
</head>
<body>
    <%- include("../partials/header.ejs", { name }) %>

    <main>
        <div>
            <h2>Create, update and delete your tasks!</h2>
            <div id="pageActions">
                <img id="deleteTasks" class="" src="assets/trash.svg" alt="Delete tasks" onclick="deleteTasks(event)" title="Delete Tasks" />
                <img src="assets/reload.svg" alt="Refresh tasks" onclick="getTasks(event)" title="Refresh tasks" />
                <img src="assets/create.svg" alt="Create task" onclick="createTask(event)" title="Create task" />
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Finished</th>
                    <th>Task</th>
                    <th>Details</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </main>
    
    <%- include("../partials/footer.ejs") %>

    <script src="home.js"></script>
</body>
</html>