<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", { title: "Home" }) %>
<body>
    <%- include("../partials/header.ejs", { name }) %>
    <main>
        
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>