<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs", { title: "Sign Up" }) %>

    <link rel="stylesheet" href="signup.css" />
    <link rel="stylesheet" href="form.css" />
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <form action="/signup" method="post">
            <input autocomplete="off" autofocus name="username" placeholder="Username" required type="text" />
            <input name="password" placeholder="Password" required type="password" />
            <input name="passwordValidate" placeholder="Password" required type="password" />
            <button>Register</button>
        </form>
        <%_ if (errorMessage) { _%>
            <p id="errorMessage">
                <img src="assets/sad-face.svg" alt="Sad face" />
                <%= errorMessage %>
            </p>
        <%_ } _%>
    </main>
    
    <%- include("../partials/footer.ejs") %>
</body>
</html>